html{
    font-family: 'Public Sans', sans-serif;
}

main{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.pinturas{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.pinturas .pintura{
    width: 335px;
    height: 431px;
    position: relative;
}  

.pinturas .pintura img{
    width: 100%;
}

.pinturas .pintura .informacoes{
    position: absolute;
    color: #FFFFFF;
    bottom: 40px;
    left: 20px;
}

.pinturas .pintura .informacoes .titulo{
    font-size: 30px;
    margin-bottom: 8px;
}

.pinturas .pintura .informacoes .subtitulo{
    font-size: 17px;
    font-weight: 300;
}